<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Robot</string>
	<key>Pages</key>
	<array>
		<string>Level1.playgroundpage</string>
		<string>Level2.playgroundpage</string>
		<string>Level3.playgroundpage</string>
		<string>Level4.playgroundpage</string>
		<string>Level5.playgroundpage</string>
		<string>Level6.playgroundpage</string>
		<string>Level7.playgroundpage</string>
		<string>Level8.playgroundpage</string>
		<string>CustomLevel.playgroundpage</string>
	</array>
</dict>
</plist>
